body {
  font-family: DejaVu Sans Mono, monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #273322; 
  color: #FFFFFF; 
}

header {
  background-image: url(matrix.gif);
  color: white;
  padding: 1rem;
  text-align: center;
}

textarea, .CodeMirror {
  width: 100%;
  max-width: 100%;  
  resize: none;
}
#preview {
  background-color: #3C5C2E; 
  color: #FFFFFF;
  border-radius: 10px;
}

main {
  display: flex;
  flex-wrap: wrap; 
  flex: 1;
  justify-content: space-around; 
}

section {
  width: 31%; 
  padding: 1rem;
  box-sizing: border-box;
}
h1{
  color:white;
  margin-top: auto;
}

#editor {
  width: 30%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 15px;
  color: #fff;
  background-color: #4A6633;
  overflow-y: auto;
  max-height: 50rem;
    margin-bottom: 2rem;
  float: left;
  margin-right: 1rem;
  overflow-x: hidden;

}

#editor p {
  font-size: 3ch;
  margin: 0px;
  
}

#preview {
  color: #fff;
  width: 30%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 15px;
  background-color: #4A6633;
  overflow-y: auto;
  max-height: 50rem;
  margin-bottom: 2rem;
  float: left;
  overflow-x: hidden;

}

#feedback {
  font-size: 2ch;
  color: #fff;
  opacity: 0; 
  transition: opacity 0.3s ease;
  animation: fadeIn 0.5s ease-out forwards;
  text-align: center;
  border-radius: 5px;
}

/* Animacje */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.8);
  }
  50% {
    opacity: 0.6;
    transform: translateY(0px) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

#feedback.success {
  animation: fadeIn 0.8s ease-out forwards, pulse 1.5s ease-out infinite;
  color: #00ff3c;
}

#feedback.error {
  color: #ff0800;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

textarea {
  width: 100%;
  height: 40%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-family: monospace;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}

#preview iframe {
  margin-right: 1rem;
  margin-right: 30px;
  width: 90%;
  height: 650px;
  border: 1px solid black;
  border: 1px solid;
  padding: 15px;
  margin:0 auto;
  display: block;  

}

#previewArea {
  width: 100%;
  max-height: 50rem;
    border: 1px solid #ccc;
  overflow: auto;
  margin:0 auto;

}

#fullscreenButton {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
}
#fullscreenButton:hover{
  color:black;
}



footer {
  background-color: #273322; /* Ciemny zielony dla stopki */
  color: #FFFFFF;
  position: fixed; 
  bottom: -7.2rem; 
  left: 0;
  color:white;
  width: 100%;
  z-index: 999999;
  text-align: center;
  padding: 1rem;
  /*background: radial-gradient(circle, rgba(163,180,34,1) 0%, rgba(2,120,0,1) 76%);*/
  background-color: #2E332B;
  transition: background-color 0.5s ease, bottom 0.5s ease; /* Połączone przejścia */


}

footer:hover {
  bottom: 0; 
  background-color: #48682D; /* Jaśniejszy odcień po najechaniu */

}

footer:hover #arrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

#arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

#downloadBtn {
  display: none;
}

#instructions {
  background-color: #273322; /* Najciemniejszy zielony dla sekcji instrukcji */
  color: #FFFFFF;
  padding: 1rem;
  border-radius: 10px;
  pointer-events: auto;
  position: relative;
  width: 100%;
  
}
#middle {
  pointer-events: auto;
  position: relative;
  width: 30%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 15px;
  background-color: #4A6633;
  overflow-y: auto;
  max-height: 50rem;
    margin-bottom: 2rem;
  float: left;
  overflow-x: hidden;
}

#next-level {
  display: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: pulse 1.5s ease-out infinite;
}
#output{
  

}
#reset {
  display: block;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
}
#reset:hover{
  color:black;
}






#Poradnik {
  display: inline-block; 
  padding: 10px 20px; 
  font-size: 16px; 
  color: #fff;
  border: none; 
  z-index: 10;
  pointer-events: auto;
  position: relative;
  border-radius: 5px;
  cursor: pointer; 
  transition: background-color 0.3s; 
}
#Poradnik:hover{
  color:black;

}



button {
  background-color: #4AB11D; 
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 120%;
  font-family: DejaVu Sans Mono, monospace;
  float: right;
}
button:hover {
  background-color: #43DB00; 
}

#controls {
  z-index: 999;
  float: right;
  display: flex;
  
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column; 
  }

  #editor, #middle, #preview {
    width: 100%; 
    margin-bottom: 1rem; 
  }

  button {
    width: 100%;
    margin-top: 0.5rem;
  }

  #next-level, #reset {
    width: 100%;
    margin-top: 0.5rem;
    
}

  #preview iframe {
    height: 250px;
  }
}
